.navbar-brand:hover {
  transform: skew(-12deg);
  -webkit-transform: skew(-12deg);
  -moz-transform: skew(-12deg);
  -ms-transform: skew(-12deg);
  -o-transform: skew(-12deg);
}

.navbar-navigation-c:hover {
  background-color: black !important;
  color: white !important;
}
.navbar-navigation-c:hover nav {
}
.navbar-social-icons-c:hover {
  opacity: 0.6;
}
