html {
  scroll-behavior: smooth;
}

/* Navigation Section */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.24rem;
}
.nav-item,
.my-works-link-c {
  text-decoration: none;
  color: black;
  transition: all 1.2s;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
}
.fa-times {
  display: flex;
  align-items: center;
}
.navbar-navigation-c {
  display: flex;
  align-items: center;
}
.close-icon-navigation-c {
  color: white;
}
.social-media-container {
  margin: auto;
}

/* Hero Section */
.hero {
  height: 100vh;
  letter-spacing: 5px;
  font-family: "Potta One", cursive;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Hero\ Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 49% 100%, 0 85%);
}

.hero-about-text {
  font-family: "Quicksand", sans-serif;
  line-height: 160%;
  word-spacing: 0.5px;
  letter-spacing: 1px;
}

/* About Me Section */
.hero-about-text-c {
  font-family: "Quicksand", sans-serif;
  line-height: 160%;
  word-spacing: 0.5px;
  letter-spacing: 1px;
}

.info-text {
  font-family: "Quicksand", sans-serif;
  line-height: 160%;
}

/* Skills Section */
.progress-bar-html-c,
.progress-bar-css-c,
.progress-bar-py-c {
  position: relative;
  width: 80%;
  height: 20px;
  background: linear-gradient(to right, #5c258d, #4389a2);
}
.progress-bar-html-value-c,
.progress-bar-css-value-c,
.progress-bar-js-value-c,
.progress-bar-py-value-c,
.progress-bar-xd-value-c {
  left: 93%;
  position: absolute;
  font-size: 14px;
  padding-right: 5px;
}

.progress-bar-js-c,
.progress-bar-xd-c {
  position: relative;
  width: 70%;
  height: 20px;
  background: linear-gradient(to right, #5c258d, #4389a2);
}

/* My Works */
.my-works-container-c {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.work__image__containers {
  flex: 1;
  overflow: hidden;
  transition: 2s;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.work__flying-fish {
  background-image: url("../images/work/Flying\ Fish.jpg");
  background-size: cover;
  background-position: top;
}

.work__radiating-heart {
  background-image: url("../images/work/Radiating\ Heart.jpg");
  background-size: cover;
  background-position: center;
}

.work__true-chains {
  background-image: url("../images/work/Chained\ To\ The\ Moon.jpg");
  background-size: cover;
}

.work__lost-in {
  background-image: url("../images/work/Lost\ In\ Your\ Thought.jpg");
  background-size: cover;
}

.work__image__containers .work__caption {
  background-color: rgba(34, 34, 49, 0.45);
  padding: 1.2rem;
  color: rgba(255, 255, 255, 0.781);
  transition: 0.5s;
  visibility: hidden;
  line-height: 120%;
}

.work__image__containers .work__caption h2 {
  margin-bottom: 0.8rem;
}
.project-description-c {
  font-family: "Quicksand", sans-serif;
  line-height: 160%;
  word-spacing: 0.5px;
  letter-spacing: 1px;
}
/* Blog */
#blog-section {
  margin: auto;
  font-family: "Quicksand", sans-serif;
  line-height: 160%;
}
.date {
  font-style: italic;
}

/*Contact  */
.contact-page-section-c {
  font-family: "Quicksand", sans-serif;
  line-height: 160%;
}
.contact-me-description-c {
  margin: auto;
}

.contact-form-c {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact-info-container-c {
  height: 100%;
  background-color: white;
}
/* Footer */
.footer {
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 0;
  background-color: #1b252f;
}

.subscribe-container-c {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/Subscribe\ Section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
::placeholder {
  color: white !important;
}
.footer-icons-c {
  text-decoration: none;
  color: white !important;
}
